.tag-input { 
    margin-top: 16px;
    width: 170px;
    background-color: var(--neutral-6);
}

.tag-input input {
    background-color: var(--neutral-6);
    box-shadow: none;
}
.tag-input input:focus {
    background-color: var(--neutral-6);
}

.tag-no-labels { 
    display: flex; 
    justify-content: center;
    align-items: center;
    color: var(--neutral-3);
}
.tag-no-labels:hover { 
    background-color: inherit;
}

.tag-option { 
    width: 90%;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}

.tag-container .MuiAutocomplete-popper {
    width: 220px !important;
} 
